<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GTCoding</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Pick the movies that you like!</h1>

      <div class="group">
        <input type="checkbox" id="xd" />
        <label for="xd">Moana</label>
      </div>

      <div class="group">
        <input type="checkbox" id="figma" />
        <label for="figma">Finding Nemo</label>
      </div>

      <div class="group">
        <input type="checkbox" id="sketch" />
        <label for="sketch">Lion King</label>
      </div>
      <div class="group">
        <input type="submit" id="submit" />
      </div>
    </div>
  </body>
</html>